@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
            <input type="hidden" id="id" value="">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">房屋业主</label>
                        <div class="col-sm-9">
                            <textarea name="houseUser" id="houseUser" cols="70" rows="10"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">房屋地址</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="houseAddress" name="房屋地址"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">交付日期</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="houseDate" name="交付日期"
                                   onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <#input id="houseDesc" name="房屋描述" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <#select id="sex" name="性别">
                    <option value="">--请选择--</option>
                    <option value="0">男</option>
                    <option value="1">女</option>
                </
                #select>
            </div>
        </div>

        <div class="row btn-group-m-t">
            <div class="col-sm-10">
                <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="THouseInfoDlg.addSubmit()"/>
                <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="THouseInfoDlg.close()"/>
            </div>
        </div>
    </div>

</div>
</div>
<script src="${ctxPath}/static/modular/houseManage/tHouse/tHouse_info.js"></script>
@}
